/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../../bower_components/normalize.css/normalize.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "OpenSans", sans-serif; }
  body .page {
    width: 1280px;
    margin: 0 auto; }
    body .page .header {
      display: block;
      background-color: #ffffff; }
      body .page .header .main-info {
        display: block;
        height: 65px;
        background-color: #ffffff;
        width: 100%;
        border-bottom: solid #01b4d5 5px; }
        body .page .header .main-info .phone {
          display: inline-block;
          height: 100%;
          padding-top: 20px;
          padding-left: 70px; }
          body .page .header .main-info .phone i {
            font-size: 25px;
            margin-right: 15px;
            color: #01b4d5;
            display: inline-block;
            vertical-align: middle; }
          body .page .header .main-info .phone .title-num {
            display: inline-block;
            vertical-align: middle; }
          body .page .header .main-info .phone .number {
            font-weight: bolder;
            font-size: 18px;
            display: inline-block;
            vertical-align: middle; }
            body .page .header .main-info .phone .number span {
              color: #828282; }
        body .page .header .main-info .mail {
          display: inline-block;
          margin-top: -25px;
          margin-right: 185px;
          float: right; }
          body .page .header .main-info .mail i {
            font-size: 25px;
            margin-right: 5px;
            color: #01b4d5;
            display: inline-block;
            vertical-align: middle; }
          body .page .header .main-info .mail .mail-title {
            font-weight: bolder;
            font-size: 18px;
            display: inline-block;
            vertical-align: middle; }
        body .page .header .main-info .drop {
          float: right;
          display: inline-block;
          height: 100%;
          width: 90px;
          border-left: solid #b6b6b6 1px;
          border-right: solid #b6b6b6 1px;
          margin-top: -45px;
          margin-right: 70px;
          cursor: pointer; }
          body .page .header .main-info .drop:hover ul li {
            display: block;
            z-index: 9999999; }
          body .page .header .main-info .drop i {
            font-size: 25px;
            padding-top: 15px;
            padding-left: 65px;
            position: absolute;
            color: #01b4d5;
            display: inline-block;
            vertical-align: middle;
            float: right; }
          body .page .header .main-info .drop ul {
            display: inline-block;
            text-align: center;
            width: 100%; }
            body .page .header .main-info .drop ul li {
              display: none;
              font-weight: bolder;
              font-size: 18px;
              width: 100%;
              height: 100%;
              background-color: #ffffff;
              padding-top: 25px; }
            body .page .header .main-info .drop ul .active {
              vertical-align: middle;
              display: block; }
      body .page .header .menu {
        display: block;
        width: 100%;
        height: 108px;
        border-bottom: solid #f6d416 3px; }
        body .page .header .menu .logo {
          display: inline-block;
          position: absolute;
          margin-top: 15px;
          margin-left: 65px; }
        body .page .header .menu .menu-items {
          display: inline-block;
          height: 100%;
          margin-left: 360px;
          cursor: pointer; }
          body .page .header .menu .menu-items .menu-item {
            text-transform: uppercase;
            display: inline-block;
            margin-top: 40px;
            font-weight: bolder;
            font-size: 18px;
            margin-left: 60px; }
            body .page .header .menu .menu-items .menu-item i.fa-sort-desc {
              font-size: 20px;
              vertical-align: top;
              margin-left: 10px;
              margin-top: -5px;
              position: absolute;
              color: #01b4d5; }
          body .page .header .menu .menu-items #with-dr ul {
            display: block;
            position: absolute;
            z-index: 9999;
            height: 300px;
            max-width: 100%;
            width: 1280px;
            margin: 43px auto;
            left: 0;
            right: 0;
            background-color: #ffffff;
            visibility: hidden; }
            body .page .header .menu .menu-items #with-dr ul li .catalog-drop {
              margin-top: 50px;
              width: 100%; }
              body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row {
                display: inline-block;
                margin-left: 100px; }
                body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item {
                  display: block;
                  margin-bottom: 30px; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item i {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    text-align: center; }
                    body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item i img {
                      margin: 10px; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr1 {
                    background-color: #1c9bb2; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr2 {
                    background-color: #d4476f; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr3 {
                    background-color: #e7302c; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr4 {
                    background-color: #f6d416; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr5 {
                    background-color: #01b4d5; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr6 {
                    background-color: #d4476f; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr7 {
                    background-color: #e7302c; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr8 {
                    background-color: #4ca52d; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr9 {
                    background-color: #1c9bb2; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr10 {
                    background-color: #4ca52d; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr11 {
                    background-color: #1c9bb2; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item #cr12 {
                    background-color: #f6d416; }
                  body .page .header .menu .menu-items #with-dr ul li .catalog-drop .catal-row .crow-item span {
                    display: inline-block;
                    font-weight: bold;
                    vertical-align: middle;
                    text-transform: none;
                    margin-left: 10px; }
          body .page .header .menu .menu-items #with-dr:hover ul {
            visibility: visible; }
          body .page .header .menu .menu-items #search {
            margin-left: -20px;
            border-color: #000000;
            z-index: 1; }
          body .page .header .menu .menu-items .search-icon {
            margin-left: -30px;
            margin-top: 7px;
            font-size: 20px;
            position: absolute; }

/*# sourceMappingURL=style.css.map */
