@import "../../bower_components/reset-scss/reset";
@import "../../bower_components/normalize.css/normalize.css";
@import "big-screen";
@import "small-screen";
@import "var/_var";

body {
  font-family: $font;
  .page {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    .header {
      display: block;
      background-color: #ffffff;
      .main-info {
        display: block;
        height: 65px;
        background-color: #ffffff;
        width: 100%;
        border-bottom: solid $blue 5px;
        .phone {
          display: inline-block;
          height: 100%;
          padding-top: 20px;
          padding-left: 70px;
          i {
            font-size: 25px;
            margin-right: 15px;
            color: $blue;
            display: inline-block;
            vertical-align: middle;
          }
          .title-num {
            display: inline-block;
            vertical-align: middle;
          }
          .number {
            font-weight: bolder;
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
            span {
              color: #828282;
            }
          }
        }
        .mail {
          display: inline-block;
          margin-top: -25px;
          margin-right: 185px;
          float: right;
          i {
            font-size: 25px;
            margin-right: 5px;
            color: $blue;
            display: inline-block;
            vertical-align: middle;
          }
          .mail-title {
            font-weight: bolder;
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
          }
        }
        .drop {
          float: right;
          display: inline-block;
          height: 100%;
          width: 90px;
          border-left: solid #b6b6b6 1px;
          border-right: solid #b6b6b6 1px;
          margin-top: -45px;
          margin-right: 70px;
          cursor: pointer;
          &:hover {
            ul {
              li {
                display: block;
                z-index: 9999999;
              }
            }
            i {
              //transform: rotateZ(90deg);
            }
          }
          i {
            font-size: 25px;
            padding-top: 15px;
            padding-left: 65px;
            position: absolute;
            color: $blue;
            display: inline-block;
            vertical-align: middle;
            float: right;
          }
          ul {
            display: inline-block;
            text-align: center;
            width: 100%;
            li {
              display: none;
              font-weight: bolder;
              font-size: 18px;
              width: 100%;
              height: 100%;
              background-color: #ffffff;
              padding-top: 25px;
            }
            .active {
              vertical-align: middle;
              display: block;
            }
          }
        }
      }
      .menu {
        display: block;
        width: 100%;
        height: 108px;
        border-bottom: solid $yellow 3px;
        .logo {
          display: inline-block;
          position: absolute;
          margin-top: 15px;
          margin-left: 65px;
        }
        .menu-items {
          display: inline-block;
          height: 100%;
          margin-left: 360px;
          cursor: pointer;
          .menu-item {
            text-transform: uppercase;
            display: inline-block;
            margin-top: 40px;
            font-weight: bolder;
            font-size: 18px;
            margin-left: 60px;
            i.fa-sort-desc {
              font-size: 20px;
              vertical-align: top;
              margin-left: 10px;
              margin-top: -5px;
              position: absolute;
              color: $blue;
            }
          }
          #with-dr {
            ul {
              display: block;
              position: absolute;
              z-index: 9999;
              height: 300px;
              max-width: 100%;
              width: 1280px;
              margin: 43px auto;
              left: 0;
              right: 0;
              background-color: #ffffff;
              visibility: hidden;
              li {
                .catalog-drop {
                  margin-top: 50px;
                  width: 100%;
                  .catal-row {
                    display: inline-block;
                    margin-left: 100px;
                    .crow-item {
                      display: block;
                      margin-bottom: 30px;
                      i {
                        display: inline-block;
                        vertical-align: middle;
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        text-align: center;
                        img {
                          margin: 10px;
                        }
                      }
                      #cr1 {
                        background-color: #1c9bb2;
                      }
                      #cr2 {
                        background-color: #d4476f;
                      }
                      #cr3 {
                        background-color: #e7302c;
                      }
                      #cr4 {
                        background-color: #f6d416;
                      }
                      #cr5 {
                        background-color: #01b4d5;
                      }
                      #cr6 {
                        background-color: #d4476f;
                      }
                      #cr7 {
                        background-color: #e7302c;
                      }
                      #cr8 {
                        background-color: #4ca52d;
                      }
                      #cr9 {
                        background-color: #1c9bb2;
                      }
                      #cr10 {
                        background-color: #4ca52d;
                      }
                      #cr11 {
                        background-color: #1c9bb2;
                      }
                      #cr12 {
                        background-color: #f6d416;
                      }
                      span {
                        display: inline-block;
                        font-weight: bold;
                        vertical-align: middle;
                        text-transform: none;
                        margin-left: 10px;
                      }
                    }
                  }
                }
              }
            }
            &:hover {
              ul {
                visibility: visible;
              }
            }
          }
          #search {
            margin-left: -20px;
            border-color: #000000;
            z-index: 1;
          }
          .search-icon {
            margin-left: -30px;
            margin-top: 7px;
            font-size: 20px;
            position: absolute;
          }
        }
      }
    }
    .banner {
      background: url('../../img/banner-bg.png');
      display: block;
      width: 100%;
      height: 570px;
      padding-top: 120px;
      color: #181818;
      .bn-block {
        display: block;
        margin: 0 auto;
        width: 770px;
        height: 340px;
        background-color: rgba(250, 250, 250, 0.5);
        border-radius: 3px;
        text-align: center;
        .bn-title {
          display: block;
          margin: 0 auto;
          padding-top: 60px;
        }
        .sub-title {
          display: block;
          font-style: italic;
          margin-top: 30px;
        }
        .line {
          display: block;
          margin: 30px auto;
          width: 120px;
          height: 0;
          border-bottom: solid $red 5px;
        }
        .desc {
          display: block;
          margin: 20px auto;
          text-align: center;
          width: 580px;
          line-height: 20px;
        }
      }
      .bn-right {
        display: block;
        position: absolute;
        float: right;
        margin-top: -170px;
        margin-left: 810px;
        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .bn-left {
        display: block;
        position: absolute;
        float: left;
        margin-top: -170px;
        margin-left: -190px;
        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .main-content {
      display: block;
      width: 100%;
      height: 1750px;
      background-color: #ffffff;
      .banners {
        display: block;
        .bnrs-row {
          display: block;
          .bnrs-row-item {
            display: inline-block;
            width: 330px;
            height: 340px;
            border-radius: 3px;
            vertical-align: top;
            text-align: center;
            img{
              
            }
          }
          #banner1{
               background: url("../../img/banner1.png");
          }
          #banner2{
               background: url("../../img/banner5.png");
          }
          #banner3{
            background: url("../../img/banner7.png");
          }
          #banner4{
            background: url("../../img/bannner9.png");
          }
        }
      }
    }
  }
}